{% comment %}
    We will get GitHub Pages to re-render the site every night
    and so we want to remove calendar entries that are for
    previous days.

    This is acutally tricky because it is not possible to compare dates
    and "now" in liquid directly so we could do it in the event filter.

    However the work around is to make a number (unix time) from "now"
    and compare that to the same unix time number from each event as
    we process it. If it is in the past, we don't show the event.

    We also track the number rendered so we can show a "no events"
    message if we ignored all the events.

    There is an optional parameter for the include to limit the max
    number of entries to show.

    include.limit - default 1000 (essentially all)
{% endcomment %}

<table>
    <thead>
        <tr>
            <th>When</th>
            <th>What's On</th>
        </tr>
    </thead>
    <tbody>
{% assign today = "now" | date: "%Y-%m-%d" | date: "%s" %}
{% assign month = "_" %}
{% assign event_count = 0 %}
{% assign max_count = include.limit | default: 1000 | plus: 0 %}
{% assign events = site.data.calendar.events | sort: "date" %}
{% for e in events %}
    {% assign event_date = e.date | date: "%s" %}
    {% assign event_month = e.date | date: "%B" %}
    {% if event_date >= today and event_count < max_count  %}
        {% assign event_count = event_count | plus: 1 %}
        {% if month != event_month %}
            {% assign month = event_month %}
            <tr><th colspan="2" class="notice--info"><h4>{{ month }}</h4></th></tr>
        {% endif %}
        <tr>
            <td>
                <nobr>{{ e.date | date: "%a %d %b, %Y" }}</nobr>
                <br/>{{ e.time }}
            </td>
            <td>
                <strong>{{ e.title }}</strong><br/><small>{{ e.location }}</small>
                {{ e.description | markdownify }}
            </td>
        </tr>
    {% endif %}
{% endfor %}

{% if event_count == 0 %}
        <tr><td colspan="2">No current events, sorry</td></tr>
{% endif %}
    </tbody>
</table>
