<table>
    <thead>
        <tr>
            <th>When</th>
            <th>What's On</th>
        </tr>
    </thead>
    <tbody>
        {% assign events = site.data.calendar.events | sort: "date" %}
        {% for e in events %}
        <tr>
            <td>
                <nobr>{{ e.date | date: "%a %d %b, %Y" }}</nobr>
                <br/>{{ e.time }}
            </td>
            <td>
                <strong>{{ e.title }}</strong><br/><small>{{ e.location }}</small>
                {{ e.description | markdownify }}
            </td>
        </tr>
        {% else %}
        <tr><td colspan="2">No events planned, sorry</td></tr>
        {% endfor %}
    </tbody>
</table>
