{% comment %}
    We will get GitHub Pages to re-render the site every night
    and so we want to remove calendar entries that are for
    previous days.

    This is acutally tricky because it is not possible to compare dates
    and "now" in liquid directly so we could do it in the event filter.

    However the work around is to make a number (unix time) from "now"
    and compare that to the same unix time number from each event as
    we process it. If it is in the past, we don't show the event.

    We also track the number rendered so we can show a "no events"
    message if we ignored all the events.

    There are optional parameter to the template:

      include.limit - default 1000 (essentially all) - max items to show

    Notes: The plus: 0 filters convert strings to numbers
{% endcomment %}

{% assign today = "now" | date: "%Y-%m-%d" | date: "%s" | plus: 0 %}
{% assign month = "_" %}
{% assign item_count = include.limit | default: 1000 | plus: 0 %}
{% assign events = site.data.calendar.events | sort: "date" %}

<table>
    <thead>
        <tr>
            <th>When</th>
            <th>What's On</th>
        </tr>
    </thead>
    <tbody>
{% for e in events %}
    {% assign event_date = e.date | date: "%s" | plus: 0 %}
    {% assign event_month = e.date | date: "%B" %}
    {% if event_date >= today %}
        {% if month != event_month %}
            {% assign month = event_month %}
            <tr><th colspan="2" class="notice--info"><h4>{{ month }}</h4></th></tr>
        {% endif %}
        <tr>
            <td>
                <nobr>{{ e.date | date: "%a %d %b, %Y" }}</nobr>
                <br/>{{ e.time }}
            </td>
            <td>
                <strong>{{ e.title }}</strong><br/><small>{{ e.location }}</small>
                {{ e.description | markdownify }}
            </td>
        </tr>
        {% assign item_count = item_count | minus: 1 %}
        {% if item_count <= 0 %}
            {% break %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if event_count == 0 %}
        <tr><td colspan="2">No current events, sorry</td></tr>
{% endif %}
    </tbody>
</table>
